/Debug/
*.o
CMakeLists.txt.user
gctb
brr
*.ppbed
*.sqnorm
*.csv
*~
*.optrpt
/MR_ADV/

# Flow graph tracing output
*.graphml
*.traceml

# Preprocessed data file types
*.ppbed
*.ppbedindex
*.sparsebed
*.sparsebedindex
